#favoritkasino-footer {
	padding: 25px 0;
	color: $footer-text-color;
	font-size: $font-size-large;
	font-weight:700;
	background: $footer-bg-color;
	p:last-child {
		margin: 0
	}
	a {
		color: #8c6239;
		text-transform: uppercase;
		font-size: $font-size-large;
		&:hover {
			color:#000;
		}
	}
	.favoritkasino-contact-link {
		text-align: right;
	}
	.favoritkasino-copyright {
		i {
			background:url('../images/logo-footer.png') no-repeat top left;
			display: inline-block;
			width: 201px;
			height: 21px;
			margin-right: 10px;
		}
	}
}