// style used  for both mobile and desktop 
.navbar-nav {
    float: none!important;
    text-align: left;
    padding: 20px 0;
    // style used for all level
    li {
        a {
            text-transform: uppercase;
            font-size: $navbar-default-link-size;
        }
    }
    // for first level li
    > li {
        float: none;
        display: block;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        > a {
            display: inline;
            color: $navbar-default-link-color;
            background: $navbar-default-link-bg;
            user-select: none;
            padding: 0;
            font-weight: 700;
            &:hover,
            &:focus,
            &:active {
                background: $navbar-default-link-bg;
                color: $navbar-default-link-hover-color;
            }
        }
        // current menu color
        &.current-menu-item {
            > a {

                color: $navbar-default-link-color-current;
                &:before {
                top: -1px;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(0, 0, 0, 0);
                border-top-color: #000000;
                border-width: 7px;
                margin-left: -7px;
                }
            }
        }
        // style for  parent item (arrow icon)
        &.menu-item-has-children {
            position: relative;
            &:after {
                content: "";
                right: 20px;
                display: block;
                position: absolute;
                top: 15px;
                width: 10px;
                height: 10px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                border-left: 1px solid white;
                border-bottom: 1px solid white;
            }
            &:before {
                background: white none repeat scroll 0 0;
                content: "";
                display: block;
                height: 43px;
                position: absolute;
                right: 50px;
                top: 0;
                width: 1px;
            }
            &.open {
                padding-bottom: 0;
                a {
                    background: none;
                }
                &:after {
                    top: 20px;
                    -webkit-transform: rotate(-225deg);
                    transform: rotate(-225deg);
                }
                ul li a {
                    padding: 0;
                }
            }
        }
        // submenu 
        ul {
            margin: 0 -20px;
            user-select: none;
            min-width: 250px;
            padding: 0 0 0;
            li {
                a {
                    display: inline;
                    padding: 0;
                    text-transform: none;
                     white-space: normal;
                }
            }
        }
    }
}
.m-logo {
    display: inline-block;
    background:url('../images/logo-footer.png') no-repeat center center;
    width: 201px;
    height: 21px;
    float: left;
    margin-top: 15px;
}
// min-wdith :1025 , css for desktop only, write css for desktop only
@include desktop {
    .navbar-nav {
        text-align: center;
        padding: 0;
        > li {
            display: inline-block;
            padding: 0;
            border :none;
            
            &:last-child .dropdown-menu {
                left: auto;
                right: 0;
            }
            &:hover {
                ul {
                    display: block;
                }
            }
            
            > a {
                display: block;
                padding: 16px 15px;    
                &:after {
                content: "/";
                position: absolute;
                right:0;
                top:30%;
                color:#8c6239;
                }            
            }
            /* &.current_page_item {
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 20px;
                    height: 1px;
                    width: calc(100% - 30px);
                    transform: translateX(-50%);
                    background: #fc4a1a;
                }
            } */
            &.menu-item-has-children {
                &:after,
                &:before {
                    display: none
                }
            }
            ul {
                margin: 0;
                padding: 10px 0!important;
                li {
                    & + li {
                        margin: 0;
                    }
                    a {
                        display: block;
                        padding: 5px 10px!important;
                    }
                }
            }
        }
        .icon-search {
            background:url('../images/ico_search.png') no-repeat 50% 80%;
                >a {
                    text-indent: -9999px;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                }
            &:hover {
                background:url('../images/ico_search_hover.png') no-repeat 50% 80%;
            }
        }
    }
    .m-logo {
        display: none;   
    }
}

// media query for lanscape ipad only
@include tablet {
    .navbar-nav {
        padding:0;
    }
    .navbar-nav > li {
        > a {
            //padding-left: 10px;
           // padding-right: 10px;
            font-size: 16px;
        }
        ul {
            a {
                font-size: 14px;
            }
        }
    }
    .navbar-nav>li.icon-search {display:none;}
}

// media query max-width 990 for mobile only and ipad portrait 
@include md_tablet {
    .navbar-collapse {
        overflow-x: hidden;
         border-top: 1px solid #ddd;
        margin: 0 -15px;
        .dropdown-menu {
            border-top: 1px solid #ddd!important;
            li {
                padding: 10px 20px;
                border-bottom: 1px solid #ddd;
                a {
                    text-transform: uppercase;
                }
            }
        }
    }
    .navbar-nav .open .dropdown-menu {
        margin-top: 10px;
    }
    .caret {
        display: none
    }
    .navbar-nav>li.current-menu-item>a:before {
        display: none;
    }
}

// media query max-width 767 for mobily only
@include xs {
    .navbar-nav {
        padding: 0;
    }
    .navbar-collapse.in {
        max-height: calc(100vh - 88px);
    }
    body {
        &.admin-bar {
            #wpadminbar {
                position:fixed !important;  
            }
        }
    }
}
